<h1> To-Do List </h1>
<p><%= link_to 'New Item', new_list_path %></p>
<% @lists.each do |list| %>
  <h2><%= list.name %></h2>
  <p><%= list.action %></p>
  <%= link_to 'Show To-Do List', list_path(list) %>
<% end %>
